---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello There! 🦊</h1>
			<p>My name is polsox, but you can call me pol!</p>
			<p>
				I build random things on the internet from Graphical work to Programming. This blog will act as the place where I share my thoughts, ideas, and projects.
			</p>
			<p>
				

		
			<p>
				For actual conversation you can message me on discord @polsox
				<br>
				<small>(I usually respond pretty fast, but drop me a new message if I haven't responded in 2 days!)</small>
			</p>
		</main>
		<Footer />
	</body>
</html>
